body {
    padding: 10px 50px 50px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    position: relative;
}

.container:after {
    clear: both;
}

.console {
	margin-top: 1.2em;
	background: #000000;
	color: #ffffff;
	font-size: smaller;
	width: 40em;
}

.contained {
    position: absolute;
	max-height: 100%;
}

.top {
	z-index: 10;
}

.offscreen {
	display: none;
}

.bottom {
	z-index: 0;
}

.contained:after {
    clear: both;
}

.text {
    width: 50em;
}

#scores {
    height: 8em;
}

img {
	width: auto;
}

#drawing {
	display: block;
	height: 400px;
	max-height: 400px;
	max-width: 500px;
}

a {
    color: #00B7FF;
}
